
@if (Session["username"] != null)
{
    using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm" }))
    {

        @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hi，"+Session["username"].ToString(), "Index", "Manage", routeValues: null, htmlAttributes: new {  })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
       
        <li>@Html.ActionLink("Login", "Login", "Home", routeValues: null, htmlAttributes: new {})</li>
    </ul>
}
